(headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
}

(ovh) {
    tls {
        dns ovh {
            endpoint {$OVH_ENDPOINT}
            application_key {$APPLICATION_KEY}
            application_secret {$APPLICATION_SECRET}
            consumer_key {$CONSUMER_KEY}
        }
    }
}

dns.liljalab.com {
    import headers
    import ovh

    reverse_proxy pihole:80
}

truenas.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.53.5
}

immich.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.53.5:2283
}

plex.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.53.5:32400
}

router.liljalab.com {
    import headers
    import ovh

    # Unifi OS expects us to talk https regardless, so we need to proxy to it, otherwise we get a redirect loop.
    # Once it reaches Unifi's proxy Caddy will want to verify the authenticity, but this time aroun we skip it.
    reverse_proxy https://192.168.1.1 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

cloudkey.liljalab.com {
    import headers
    import ovh

    # Cloudkey expects us to talk https regardless, so we need to proxy to it, otherwise we get a redirect loop.
    # Once it reaches Cloudkey's proxy Caddy will want to verify the authenticity, but this time aroun we skip it.
    reverse_proxy https://192.168.1.13 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
