(headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
}

(ovh) {
    tls {
        dns ovh {
            endpoint {$OVH_ENDPOINT}
            application_key {$APPLICATION_KEY}
            application_secret {$APPLICATION_SECRET}
            consumer_key {$CONSUMER_KEY}
        }
    }
}

dns.liljalab.com {
    import headers
    import ovh

    reverse_proxy pihole:80
}

truenas.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.53.5
}

immich.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.53.5:2283
}

router.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.1.1/#/login
}

cloudkey.liljalab.com {
    import headers
    import ovh

    reverse_proxy 192.168.1.13
}
