lang en_US.UTF-8
keyboard us

timezone Europe/Stockholm --utc

rootpw --lock

user --name=jonas --groups=wheel --password=$6$e5PGBeUylS6f9XZH$j8LEkUI7UFxeWRm41kMowEcN9CXQqr7vRARlOfyO6002NtCcHm4Had1PnTMqoSlool050PoogAa0.A93EYqtP. --iscrypted
sshkey --username=jonas "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIErJPQ1PFNmqCthXuuyTqWMYtoNt2WyUsktcDjzOvtM9"

user --name=ansible --groups=wheel --password=$6$htzpdPSykvcZfM71$FokhVswW.ln4N2AJKmQZk54o/8XNwpNXdYWBZAYOf4EO.xnBs9abTwgxqJSy37h/.Qx224zaUj7ofVnZUAEs.1 --iscrypted
sshkey --username=ansible "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ6F4zJUmw6O9oNyZQT6Y2NF0AWwE/sNOWJK3W74ydxM"

clearpart --all --initlabel

# Might need to set partitioning by myself later.
autopart

network --bootproto=dhcp --device=link --activate

cmdline

url --url="https://dl.fedoraproject.org/pub/fedora/linux/releases/44/Everything/x86_64/os/"

# TODO: Add rsyslog config

%packages
@Core
@Container Management
rsyslog
%end

reboot
