dns.liljalab.com {
    tls {
        dns ovh {
            endpoint {$endpoint}
            application_key {$application_key}
            application_secret {$application_secret}
            consumer_key {$consumer_key}
        }
    }

    reverse_proxy pihole:80
}