lang en_US.UTF-8
keyboard us

timezone Europe/Stockholm --utc

rootpw --lock

# Change password later with passwd.
user --name=jonas --groups=wheel --password=$6$YQynube3TnERUYVN$Gl3HV.njWIGJZkOZLwwpA01kYNWr3oF0VMCXiabXXD.PkTUy88G6nqDODjHbMYQLsKz43y71v1HBrd.TJ5ZCe/ --iscrypted
sshkey --username=jonas "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIErJPQ1PFNmqCthXuuyTqWMYtoNt2WyUsktcDjzOvtM9"

# Move to be managed by cloud init later and make it passwordless.
user --name=ansible --groups=wheel --password=$6$htzpdPSykvcZfM71$FokhVswW.ln4N2AJKmQZk54o/8XNwpNXdYWBZAYOf4EO.xnBs9abTwgxqJSy37h/.Qx224zaUj7ofVnZUAEs.1 --iscrypted
sshkey --username=ansible "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ6F4zJUmw6O9oNyZQT6Y2NF0AWwE/sNOWJK3W74ydxM"

clearpart --all

# Setting FDE means exposing your password.
# I am ok with this. This will be changed later.
# sudo cryptsetup luksChangeKey /dev/sdaX replace X with appropriate number.
autopart --encrypted --passphrase="InitialPasswordChangeMe"

network --device=link --activate

cmdline

url --url="https://dl.fedoraproject.org/pub/fedora/linux/releases/44/Everything/x86_64/os/"

# TODO: Add rsyslog config

%packages
@kde-desktop-environment
@container-management
rsyslog
cloud-init
%end

%post --interpreter=/bin/bash

# Make it clear that the datasource is NoCloud
mkdir -p /target/etc/cloud/cloud.cfg.d
cat > /target/etc/cloud/cloud.cfg.d/99-nocloud.cfg <<EOF
datasource_list: [ NoCloud ]
EOF

# Create the meta data parts
mkdir -p /target/var/lib/cloud/seed/nocloud
cat > /target/var/lib/cloud/seed/nocloud/meta-data <<EOF
instance-id: fedora-workstation
EOF

# Copy (install) the user data parts
install -m 0644 /run/install/source/cloud-init.yml \
   /target/var/lib/cloud/seed/nocloud/user-data

# Tell systemd to start all of the required cloud-init parts
chroot /target systemctl enable cloud-init-local.service
chroot /target systemctl enable cloud-init.service
chroot /target systemctl enable cloud-config.service
chroot /target systemctl enable cloud-final.service

%end

reboot
